$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  margin-top: 30px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.question-container {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #EEEEEE;
}

.bg-success {
  background-color: #dff0d8 !important;
}

.jumbotron {
  border-radius: 0 !important;
}

.kyrgyz-ui {
  height: 200px;
  width: 300px;
  border-radius: 150px 150px 0 0;
  position: relative;
  background-color: brown;
  margin: 0 auto;
  .door {
    position: absolute;
    bottom: 0;
    left: 41%;
    height: 70px;
    width: 50px;
    background-color: #EEEEEE;
  }
  .arc {
    border: 2px solid #EEEEEE;
    position: absolute;
    left: 36%;
    height: 30px;
    width: 81px;
    top: -14px;
    border-radius: 100%;
  }
  .lower-part {
    position: absolute;
    bottom: 75px;
    height: 10px;
    width: 100%;
    border: 1px dashed #EEEEEE;
  }
}

.hljs {
  background: none !important;
}

pre {
  border-radius: 0 !important;
}

#result-table {
  margin-top: 15px;
}
